html {
  margin: 0;
  font-size: 62.5%;
  --darkBrown: rgb(51, 51, 51);
  --middleBrown: rgb(70, 70, 70);
  --lightBrown: rgb(97, 97, 97);
  --paleBrown: rgb(147, 147, 147);
  --darkBlue: rgb(36, 52, 67);
  --middleBlue: rgb(57, 95, 120);
  --lightBlue: rgba(68, 108, 134, 0.918);
  --backBlue: rgb(33, 70, 96);
  --white: rgb(255, 255, 255);
  --offWhite: rgb(215, 215, 215);
  --beige: rgb(201, 195, 195);
  --hgGreen: rgb(47, 169, 191);
  --lightPink: rgb(223, 186, 170);
  --bigBs: 0 10rem 8rem rgba(0, 0, 0, 0.3);
  --smallBs: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  --hgBs: inset 0 0 5px 8px rgb(47, 169, 191);
  --hgOutBs: 0 0 5px 8px rgb(47, 169, 191);
}

body {
  background-color: rgb(33, 70, 96);
  scrollbar-width: thin;
  scrollbar-color: #395f78 #333333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: #395f78;
  border-radius: 6px;
  border: 3px solid #333333;
}

:focus {
  outline: none;
}

.app-content {
  margin: 0px;
  margin-top: 80px;
  width: 100%;
}

p {
  font-size: 18px;
  margin: 0;
}

h2 {
  margin: 5px 0;
  font-size: 2.4rem;
}

h3 {
  font-size: 21px;
  margin: 5px 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accessibly-hidden {
  color: inherit;
  border: 0;
  clip: rect(0000);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
