html {
  margin: 0;
}

body {
    background-color: #c9c3c3;
    scrollbar-width: thin;
    scrollbar-color:#395f78 #333333;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 11px;
  }
  
body::-webkit-scrollbar-track {
    background: #333333;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #395f78;
    border-radius: 6px;
    border: 3px solid #333333;
  }

.app-content {
    margin: 0px;
    margin-top: 80px;
}

p {
  font-size: 18px;
}

h2 {
  margin: 5px 0;
}

h3 {
  font-size: 21px;
  margin: 5px 0;
}
/*
form button, form h5{
  margin: 20px 0;
}
input[type=text],
input[type=email],
input[type=password]{
  border-color:#f34a6994;
  background-color: transparent!important;
  box-shadow: none;
  color: #f7abab;
}

input[type=date] {
  color: #737e80;
}


input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color:#333333;
  background-color: transparent!important;
  box-shadow: none;
  color: #db6379fd;
}


input[type=date]:not(.browser-default):focus:not([readonly]) {
  background-color: transparent!important;

}



input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #333333!important;
}
*/
