.box-slider {
    width: 100%;
    height: 350px;
    overflow-x: auto;
    overflow-y: hidden;
    transition: all 0.2s;
    transform: scale(1);
    cursor: ew-resize;
    will-change: transform;
    user-select: none;
    padding: auto;
}

.box-slider.active {
    cursor: grabing;
    cursor: -webkit-grabbing;
    transform: scale(1)
}

.slider-inner {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
   /* margin-left: 200px;*/
}

.box-slider::-webkit-scrollbar {
    width: 11px;
  }
  
.box-slider::-webkit-scrollbar-track {
    background: transparent;
  }
  
.box-slider::-webkit-scrollbar-thumb {
    position: absolute;
    background-color: transparent;

  }

.box-slider.column {
  height: 250px;
  width: 260px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: ns-resize;
}

.slider-inner.column {
  flex-direction: column;
}