.carousel-container {
  align-content: center;
  position: fixed;
  overflow: auto;
  padding-top: 100px;
  z-index: 10;
  left: 0;
  top: 80px;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #395f78 #333333;
}

.carousel-container::-webkit-scrollbar {
  width: 11px;
}

.carousel-container::-webkit-scrollbar-track {
  background: #333333;
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: #395f78;
  border-radius: 6px;
  border: 3px solid #333333;
}

.closer {
  width: 100%;
  min-height: 1130px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  content: ' ';
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.slide {
  cursor: pointer;
  max-width: 80%;
  max-height: 800px;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  transition: opacity 600ms ease;
  z-index: 2;
}

.slide[aria-hidden='true'] {
  opacity: 0;
  transition: opacity 200ms ease;
  z-index: -1;
}

.controls {
  color: #ccc;
  z-index: 2;
  position: absolute;
  top: 50px;
  left: 200px;
}

.slide,
.controls {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.slideOut {
  animation-name: zoomOut;
  animation-duration: 0.3s;
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.3);
    opacity: 0;
  }
}

.controlButton {
  cursor: pointer;
  border: none;
  background: none;
  display: inline-block;
  padding: 0;
  width: 3rem;
  height: 3rem;
  line-height: 1.8rem;
  font-size: 2rem;
  text-align: center;
  background-color: transparent;
  color: rgba(158, 146, 146, 0.616);
  outline: none;
}

button.controlButton:active {
  position: relative;
  top: 1px;
  left: 1px;
  color: white;
  background-color: transparent;
  transition: color 400ms;
  transition-timing-function: cubic-bezier(0, 1.32, 0.82, 0.75);
}

button.controlButton:focus {
  background-color: transparent !important;
}

@media only screen and (max-width: 700px) {
  .slide {
    width: 100%;
  }
  .controls {
    left: 120px;
    right: 20px;
  }
  .closer {
    min-height: 700px;
  }
}
