.imageDiv {
    align-items: center;
    width: 294px;
    height: 294px;
    overflow: hidden;
    background-position: center center;
    background-size: 305px 305px;
    background-repeat: no-repeat;
}

.imageStyle {
    height: 294px; /*!important;  to override wordpress */
    width: 294px;
    object-fit: cover;
    transition: opacity 0.6s ease;
}

.imageDiv:hover {
    opacity: 0.7;
}