.display {
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: #333333;
    border: 3px solid #395f78;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.3);
    transition: all 0.08s ease;
}


.display-image {
    height: 300px;
    width: 300px;
    margin: 10px;
    cursor: pointer;
    border: 3px solid #395f78;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.3);

}



