.navbar {
	font-size: 24px;
	display: flex;
	flex-direction: row;
	background-color: #333;
}

@media screen and (max-width: 600px) { /*not working, need to design a mobile menu */ 
    .navBar {
	background-color: white;
    display: block;
    }
  }